{% load widget_tweaks %}
  <button  id="step2" class="btn btn-danger" >Check</button>
<form method="POST" id="myform" >
        {% csrf_token %}

    <button id="done" class="btn btn-primary disabled" type="submit">Ajouter</button>

        <tr>
             <td>
         <input class="na"  required="true"   type="text" id="designation"  name="designation">
          </td>

          <td>
         <input class="na"  required="true" min="0" max="10" step="0.01" value="0.00"  type="number" id="prix"  name="prix">
          </td>

          <td>
     <select  required="true" name="commande" id="article" class="form-control">
                 <option selected>{{com}}</option>

                 <option  value="{{com}}"></option>


             </select>          </td>

          <td>
                 <input class="qu l" required="true" pattern="\d+" type="number" id="quantite" name="quantite">
          </td>
               <td>
         <input class="na"  required="true" min="0" max="10" step="0.01"   type="number" id="mnt_ht"  name="mnt_ht">
          </td>
               <td>
         <input class="na"  required="true" min="0" max="10" step="0.01"   type="number" id="mnt_tva"  name="mnt_tva">
          </td>
               <td>
         <input class="na"  required="true" min="0" max="10" step="0.01"  type="number" id="mnt_ttc"  name="mnt_ttc">
          </td>
      </tr>

</form>