{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
<br><br>


                <div class="content" id="content">
                               <label  style="margin-left: 35px;" class="switch">
  <input class="nadjib btn-primary" type="checkbox">
  <span class="slider round"></span>
</label>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12" id="col2">
                 <div><a  class="btn btn-warning" href="javascript:history.back(1)">back</a> </div>
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Step 2 (Commande Designation)</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive" >
                      <form method="POST" id="myform" >

                    <table class="table" id="book-table">

                    {% if ers%}
                                    <div class="alert alert-danger">
                <strong>   {{ ers }}</strong>
            </div>
                        {% endif %}




             <thead class=" text-primary"  >
                        <th>
                         Designation
                        </th>
                        <th>
                          Prix_Unitaire
                        </th>
                        <th>
                          Commande
                        </th>
                        <th>
                          Quantite
                        </th>
                        <th>
                          Montant_HT
                        </th>
                       <th>
                          Montant_TVA
                        </th>
                          <th>
                          Montant_TTC
                        </th>



                      </thead>

                      </thead>
                    <tbody>
                      {% include 'Proformas/steps/partial_step.html' %}
                      </tbody>
                    </table>
   <button  class="btn btn-primary" id="add" >Add new row</button>



                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                </div>



{% endblock%}