{% load dat_tag %}
  {% for obj in facture %}

{% if not obj.Etat %}
 <div class="alert alert-danger">
            <strong> {{obj.Titre_facture}} &nbsp;{{obj|date}}</strong>
        </div>
{% endif %}

                        <tr>

                          <td>
                            {{obj.Date}}
                          </td>
                          <td>
                           {{obj.commande}}
                          </td>
                            <td>
                                  {{obj.Titre_facture}}

                          </td>
                          <td>
                          {{obj.Numero_facture}}
                          </td>
                              <td>
                            {{obj.Montant_HT}}
                          </td>
                               <td>
                            {{obj.Montant_TVA}}
                          </td>
                               <td>
                            {{obj.Montant_TTC}}
                          </td>
                          <td>
                            {{obj.Etat}}
                          </td>
                            <td>

        <a class=" bout  js-update-book "   data-url="{% url 'facture_update' obj.id %}" href="#" style="color : #9c27b0;" >
            <i class="fa fa-edit w3-xxlarge" aria-hidden="true"></i></a>


        <a class=" bout js-delete-book" data-url="{% url 'delete_facture' obj.id %}" href="#"  style="color : #9c27b0;">
        <i class="fa fa-trash w3-xxlarge" aria-hidden="true"></i></a>
&nbsp
    <a class="  likes-button "    href="{% url 'create_facture' obj.id  %}" style="color : #9c27b0;" >
             <i class="fa fa-plus-circle w3-xxlarge"></i></a>



                        </tr>
                      {% endfor%}