{% load widget_tweaks %}
  <button  id="step2" class="btn btn-danger" >Check</button>
<form method="POST" action="{% url 'step2_ach'%}" >
      {% csrf_token %}
    <button id="done" class="btn btn-primary disabled" name="submit" type="submit">Ajouter</button>
      <tr>

          <td>
                 <select  required="true" name="article" id="article" class="form-control">
                 <option selected></option>
                        {% for obj in art %}
                 <option  value="{{obj}}">{{obj}}</option>
                         {%endfor%}

             </select>

          </td>
          <td>
                 <input class="na"  required="true" min="0" step="0.01"
                        type="number" id="prix"  name="prix" placeholder="0.00">
          </td>
          <td>
                 <input class="qu l" required="true" pattern="\d+" type="number" id="quantite" name="quantite">
          </td>
      </tr>

</form>
