  {% for obj in as %}

                        <tr>
                          <td>
                            {{obj.Id_Achats}}
                          </td>
                          <td>
                           {{obj.Id_Article}}
                          </td>
                          <td>
                           {{obj.Prix_Unitaire}}
                          </td>
                              <td>
                            {{obj.Quantite}}
                          </td>
                            <td>

                            </td>

                        </tr>
                      {% endfor%}