{% extends 'base.html' %}
{% load static %}


{% block javascript %}
<script src="{% static 'js/create_facture.js' %}"></script>
<script>
$(document).ready(function(){
  function renderChart(data,lab){
  var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: lab,
                datasets: [{
                    label: '# Vente',
                    data: data,
                    backgroundColor : 'rgba(11,156,49,0.1)',
                    borderColor : 'rgb(0,0,0)',
                    borderWidth: 1
                }]
            },
            options: {

                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true,
                            autoSkip: true,
                            autoSkipPadding: 5,
                            maxRotation: 0,
                        }
                    }],
                        xAxes: [{
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true
                        }
                    }]


                }
            }
  })

  }
  function renderChart3(data,lab){
  var ctx = document.getElementById('myChart2');
var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: lab,
                datasets: [{
                    label: '# Transaction Bancaire',
                    data: data,
                    backgroundColor : 'rgba(11,156,49,0.1)',
                    borderColor : 'rgb(0,0,0)',
                    borderWidth: 1
                }]
            },
            options: {

                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true,
                                 autoSkip: true,
                            autoSkipPadding: 5,
                            maxRotation: 0,
                        }
                    }],
                        xAxes: [{
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true
                        }
                    }]


                }
            }
  })

  }

  function renderChart1(data,lab){
  var ctx = document.getElementById('myChart1');
var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: lab,
                datasets: [{
                    label: '# Dépence',
                    data: data,
                    backgroundColor : 'rgba(248, 148, 6, 0.6)',
                    borderColor : 'rgb(0,0,0)',
                    borderWidth: 1
                }]
            },
            options: {

                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true,
                            autoSkip: true,
                            autoSkipPadding: 5,
                            maxRotation: 0,
                        }
                    }],
                        xAxes: [{
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true
                        }
                    }]


                }
            }
  })

  }

$.ajax({
  type: "GET",
  url: '/client/ajax2',
  dataType: "json",
  success : function(data){
  console.log(data);

  renderChart1(data.data,data.labels);

  },
  error : function(xhr, ajaxOptions, thrownError){
    
   console.log(xhr.status);
   console.log(ajaxOptions);
   console.log(thrownError);

  }
  });


$.ajax({
  type: "GET",
  url: '/client/ajax',
  dataType: "json",
  success : function(data){
  console.log(data);
  renderChart(data.data,data.labels);


  },
  error : function(xhr, ajaxOptions, thrownError){
  console.log(xhr.status);
   console.log(ajaxOptions);
   console.log(thrownError);

  }
  });
  $.ajax({
  type: "GET",
  url: '/client/ajax_trans',
  dataType: "json",
  success : function(data){
  console.log(data);
  renderChart3(data.data,data.labels);


  },
  error : function(xhr, ajaxOptions, thrownError){
  console.log(xhr.status);
   console.log(ajaxOptions);
   console.log(thrownError);

  }
  });

});
</script>
{% endblock %}
 <div class="content" >
{% block content %}

<br><br><br>

<!--          <div class=" nadjib container change"  id="changee" style="margin-left : 25px; color : #9c27b0;" onclick="myFunction(this)">-->
<!--  <div class="bar1"></div>-->
<!--  <div class="bar2"></div>-->
<!--  <div class="bar3"></div>-->
<!--</div>-->

<div class="container"  >
      <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Top Product</p>
                  <h3 class="card-title">{{top_p|slice:11}}
                    <small></small>
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="javascript:;">Get More Space...</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                  <p class="card-category">Revenue</p>
                  <h3 class="card-title">{{rev}}Dz</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">info_intline</i>
                  </div>
                  <p class="card-category">Top  Clients</p>
                  <h3 class="card-title">{{top_c}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-facebook"></i>
                  </div>
                  <p class="card-category">Page Facebook</p>
                    <a  href="https://web.facebook.com/SHInformatiqu/?_rdc=1&_rdr">Sh Informatique</a>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i> Follow Us
                  </div>
                </div>
              </div>
            </div>
          </div>
   <div class="row" >
            <div class="col-md-4 " >
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <div class="ct-chart" >
                     <canvas id="myChart" ></canvas>
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Weekly Sales</h4>
                  <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                  </div>
                </div>
              </div>
            </div>
           <div class="col-md-4"  >
              <div class="card card-chart" >
                <div class="card-header card-header-warning">
                  <div class="ct-chart" >
                     <canvas id="myChart1" ></canvas>
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Weekly Dépence</h4>
                  <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                  </div>
                </div>
              </div>
            </div>
           <div class="col-md-4" >
              <div class="card card-chart" >
                <div class="card-header card-header-danger">
                  <div class="ct-chart" >
                     <canvas id="myChart2" ></canvas>
                  </div>
                </div>
                <div class="card-body" >
                  <h4 class="card-title">Weekly Tranasction</h4>
                  <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                  </div>
                </div>
              </div>
            </div>
   </div>


 <div class=" col-md-12">
              <div class="container-fluid" id="content" >
          <div class="row" >
            <div class="col-md-12" >
                  <div class="col-md-12" id="col2" >
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title ">Facture Table</h4>
                  <p class="card-category"> Here is Facture informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="book-table">

                    <p><strong> MH Global:{{mhtg}}DA , &nbsp; MH Payed Global :{{mhtg_p}}DA , &nbsp; MH Global Not Payed : {{mhtg_np}} DA</strong></p>

                      <thead class=" text-primary">
                       <th>
                         Date
                        </th>
                        <th>
                         Client
                        </th>
                        <th>
                         commande
                        </th>
                        <th>
                         Titre facture
                        </th>
                         <th>
                         Numero facture
                        </th>
                        <th>
                         M  HT
                        </th>
                        <th>
                          M TVA
                        </th>
                        <th>
                          M TTC
                        </th>
                          <th>
                         Etat
                        </th>
                          <th>
                         Actions
                        </th>
                      </thead>
                      <tbody id="replaceable-content">
                    {% include 'Proformas/facture/partial/partial_facture.html' %}
                      </tbody>
                        <div class="modal fade" id="modal-book">
                    <div class="modal-dialog" style=" left: 10%">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>
        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 </div>
 </div>
 </div>

{% endblock %}
