  {% for obj in form %}

                        <tr>
                          <td>
                            {{obj.Nom}}
                          </td>
                          <td>
                           {{obj.Tel}}
                          </td>
                          <td>
                           {{obj.post}}
                          </td>
                              <td>
                            {{obj.email}}
                          </td>
                               <td>
                            {{obj.contact_type}}
                          </td>
                          <td>

                            <td>


                            </td>

                        </tr>
                      {% endfor%}