  {% for obj in client %}

                        <tr>
                          <td>
                            {{obj.id}}
                          </td>
                          <td>
                           {{obj.Raison_social}}
                          </td>
                          <td>
                           {{obj.RC}}
                          </td>
                              <td>
                            {{obj.NIF}}
                          </td>
                               <td>
                            {{obj.AI}}
                          </td>
                               <td>
                            {{obj.NIS}}
                          </td>
                          <td>
                            {{obj.Banque}}
                          </td>
                          <td>
                            {{obj.CB}}
                          </td>
                              <td>
                            {{obj.adresse}}
                          </td>
                            <td>


            <a class="  likes-button js-update-book "   data-url="{% url 'update' slug=obj.slug %}" href="#" style="color : black;" >
            <i class="fa fa-edit w3-xxlarge" aria-hidden="true"></i></a>
&nbsp

        <a class="js-delete-book" data-url="{% url 'delete' slug=obj.slug %}" href="#"  style="color : black;">
        <i class="fa fa-trash w3-xxlarge" aria-hidden="true"></i></a>
&nbsp
        <a class="js-delete-book" data-url="{% url 'see' slug=obj.slug %}" href="#"  style="color : black;">
        <i class="fa fa-id-badge w3-xxlarge" aria-hidden="true"></i></a>



<!--                                      <button type="button"-->
<!--              class="btn btn-danger btn-sm js-delete-book"-->
<!--              data-url="{% url 'delete' slug=obj.slug %}">-->
<!--        <span class="glyphicon glyphicon-trash"></span> Delete-->
<!--      </button>-->
<!--                                                                <button type="button"-->
<!--              class="btn btn-danger btn-sm js-delete-book"-->
<!--              data-url="{% url 'see' slug=obj.slug %}">-->
<!--        <span class="glyphicon glyphicon-trash"></span> see-->
<!--      </button>-->

                            </td>

                        </tr>
                      {% endfor%}