<form method="post"  class="js-book-create-form">
  {% csrf_token %}
<!--  <div class="modal-header">-->
<!--    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--    <h4 class="modal-title">Create a new Client</h4>-->
<!--  </div>-->
  <div class="modal-body" >
    {% include 'Client_Section/partial_client_contact_form.html' %}
  </div>
  <br><br>
  <div style="pos">

<!--    <button    style="float : right"  type="submit" class="btn btn-primary ">Update Contacts</button>-->
        <button  style="float : right" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>