{% extends 'base.html' %}
{% load static%}

{% block javascript %}
  <script src="{% static 'js/create_commande.js' %}"></script>
{% endblock %}

 <div class="content" >
{% block content%}

<br><br><br>

          <div class=" nadjib container change"  id="changee" style="margin-left : 25px; color : #9c27b0;" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<div class="container"  id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <br><br>
                  <div class="col-md-12" id="col2" >
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Commande Table</h4>
                  <p class="card-category"> Here is Commande informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="book-table">
                                                  <p>
      <a class="btn btn-primary" href="{% url 'step1'%}"> Add Commande</a>

  </p>


                      <thead class=" text-primary">
                       <th>
                         Date
                        </th>
                        <th>
                         Client
                        </th>
                        <th>
                          Numero commande
                        </th>
                        <th>
                          Montant HT
                        </th>
                        <th>
                          Montant TVA
                        </th>
                        <th>
                          Montant TTC
                        </th>
                          <th>
                          Type Service
                        </th>
                          <th>
                          validation
                        </th>

                      </thead>
                      <tbody>
                    {% include 'Proformas/partial/partial_proformas.html' %}
                      </tbody>
                        <div class="modal fade" id="modal-book">
                    <div class="modal-dialog" style=" left: 10%">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>
        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
 </div>

      <footer class="footer">

      </footer>
    </div>
  </div>


{% endblock%}

