{% extends 'base.html' %}
{% load static%}

{% block javascript %}
  <script src="{% static 'js/create_caisse.js' %}"></script>
{% endblock %}


{% block content%}


      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="" style="width : 1080px;">
                <br><br>
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Table Caisse</h4>
                  <p class="card-category"> Voici Les Informations De La Caisse</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="book-table">
                                <p><strong> Total Entrée : {{entree}} DA, &nbsp; Total Sortie : {{sortie}} DA, &nbsp; Différence : {{dif}} DA</strong></p>

                           <p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'caisse_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Ajouter
    </button>
                                   <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'alim_caisse' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Alimenter la caisse
    </button>
  </p>



                      <thead class=" text-primary">
                        <th>
                          Date
                        </th>
                        <th>
                          Nature
                        </th>
                        <th>
                          ES
                        </th>

                        <th>
                          Montant
                        </th>
                           <th>
                          Action
                      </th>

                      </thead>
                      <tbody>
                    {% include 'caisse/partial/partial_caisse.html' %}
                      </tbody>
                        <div class="modal fade" id="modal-book" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog" style=" left: 10%">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>
        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">

      </footer>
    </div>
  </div>

{% endblock%}

