<form method="post" action="{% url 'alim_caisse' %}" class="js-book-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add Transaction</h4>
  </div>
  <div class="modal-body">
    {% include 'caisse/partial/parita_allim_caisse.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add Transaction</button>
  </div>
</form>