  {% for obj in caisse %}

                        <tr>
                          <td>
                            {{obj.Date}}
                          </td>
                          <td>
                           {{obj.Nature}}
                          </td>
                            <td>
                           {{obj.ES}}
                          </td>
                          <td>
                           {{obj.Montant}}
                          </td>
                            <td>


            <a class=" bout likes-button js-update-book "   data-url="{% url 'caisse_update' obj.id %}" href="#" style="color : #9c27b0;" >
            <i class="fa fa-edit w3-xxlarge" aria-hidden="true"></i></a>

&nbsp

        <a class="js-delete-book bout" data-url="{% url 'caisse_delete' obj.id %}" href="#"  style="color : #9c27b0;">
        <i class="fa fa-trash w3-xxlarge" aria-hidden="true"></i></a>



                            </td>

                        </tr>
                      {% endfor%}