{% extends 'base.html' %}
{% load static%}


{% block javascript %}
  <script type="text/javascript"  src="{% static 'js/create_achats.js' %}"></script>
  <script src="{% static 'js/tva.js' %}"></script>
{% endblock %}

 <div class="content" >
{% block content %}


<br><br><br>
         <div class=" nadjib container change"  id="changee" style="margin-right : 100%; color : #9c27b0;" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
       <div class="container"  id="content">
        <div class="container-fluid">
          <div class="row">
<!--            <div class="col-md-6" id="col1">-->
<!--              <div class="card">-->
<!--                <div class="card-header card-header-primary">-->
<!--                  <h4 class="card-title ">Achats Table</h4>-->
<!--                  <p class="card-category"> Here is Achats informations</p>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                  <div class="table-responsive"  style="height:300px; overflow:auto;">-->
<!--                    <table class="table" id="book-table">-->
<!--                        <div class="row">-->
<!--                            <p>-->
<!--    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'achats_create2' %}">-->
<!--      <span class="glyphicon glyphicon-plus"></span>-->
<!--      New Achats-->
<!--    </button>-->
<!--  </p>-->
<!--                        </div>-->
<!--             <thead class=" text-primary"  >-->
<!--                        <th>-->
<!--                         Id_Fournis-->
<!--                        </th>-->
<!--                        <th>-->
<!--                          Montant_HT-->
<!--                        </th>-->
<!--                        <th>-->
<!--                          Montant_TVA-->
<!--                        </th>-->
<!--                        <th>-->
<!--                          Montant_TTC-->
<!--                        </th>-->


<!--                      </thead>-->
<!--                      <tbody >-->
<!--                    {% include 'Gestion_Achats/Achats/partial_client_c.html' %}-->
<!--                      </tbody>-->
<!--                            <div class="modal fade" id="modal-book">-->
<!--                    <div class="modal-dialog">-->
<!--                   <div class="modal-content"  >-->
<!--                  </div>-->
<!--                     </div>-->

<!--                        </div>-->

<!--                    </table>-->

<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
              <div class="col-md-12" id="col2" >
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Tabe Achats</h4>
                  <p class="card-category">Voici Les Information Achats & Articles </p>
                </div>
                <div class="card-body">
                 <div class="table-responsive"  style="height:300px; overflow:auto; dipslay : none ">
                    <table class="table" id="book-table">

                           <p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'achats_create2' %}">
      <span class="glyphicon glyphicon-plus"></span>
      Ajouter Achats
    </button>
  </p>
    <a class="btn btn-primary" href="{% url 'step1_ach'%}">Ajouter Achats/Article</a>

             <thead class=" text-primary"  >
                        <th>
                         Fournisseur
                        </th>
                        <th>
                          Montant_HT
                        </th>
                        <th>
                          Montant_TVA
                        </th>
                        <th>
                          Montant_TTC
                        </th><th>
                          Montant Payer
                        </th>
                              <th>
                          Date
                        </th>
                          <th>
                          Actions
                        </th>


                      </thead>
                      <tbody >
                    {% include 'Gestion_Achats/Achats/partial_client_c_view.html' %}
                      </tbody>
                         <div class="modal fade" id="modal-book">
                    <div class="modal-dialog" style=" left: 10%">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>
                    </table>
                </div>
             </div>
            </div>
           </div>
          </div>
         </div>
      </div>




                    <div class="row">
                <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12"  style="width : 950px; left: 3%; ">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Achats Articl Insertion Table</h4>
                  <p class="card-category"> Here is Achats informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive" >
                    <table class="table">

             <thead class=" text-primary"  >
                        <th>
                         Achats
                        </th>
                        <th>
                          Article
                        </th>
                        <th>
                          Prix Unitaire
                        </th>
                        <th>
                          Quantite
                        </th>
                           <th>
                          Delete
                        </th>


                      </thead>

                      </thead>
                    <tbody>
                      {% include 'assos_html.html' %}
                      </tbody>
                    </table>


                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                </div>
                    </div>


{% endblock %}

