{% extends 'base.html' %}
{% load static%}


{% block javascript %}
  <script src="{% static 'js/create_client.js' %}"></script>
{% endblock %}

{% block content %}


   <div class="content" id="content">
        <button class="btn  nadjib btn-primary">show</button>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Achats Table</h4>
                  <p class="card-category"> Here is Achats informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive"  style="height:300px; overflow:auto;">
                    <table class="table" id="book-table">
                        <div class="row">
                            <div class="col-2">
    <form action="{% url 'find' %}" method="GET" enctype="multipart/form-data">
         {% csrf_token %}

             <select name="da" id="da" class="form-control">
                 <option selected></option>
                        {% for obj in Achats %}
                 <option  value="{{obj}}">{{obj.Id_Fournis}}</option>
                         {%endfor%}

             </select>
    </form>
</div>
       <div class="col-2" >
   <button class="btn btn-primary"  data-url="{% url 'find' %}">find</button>
    </div>
                                                    <p>
    <button type="button" class="btn btn-primary js-create-book" data-url="{% url 'achats_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New Achats
    </button>
  </p>
                        </div>
             <thead class=" text-primary"  >
                        <th>
                         Id_Fournis
                        </th>
                        <th>
                          Montant_HT
                        </th>
                        <th>
                          Montant_TVA
                        </th>
                        <th>
                          Montant_TTC
                        </th>


                      </thead>
                      <tbody >
                    {% include 'Gestion_Achats/Achats/partial_client_c.html' %}
                      </tbody>
                            <div class="modal fade" id="modal-book">
                    <div class="modal-dialog" style=" left: 10%">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>
                  </div>
                        <div class="table-responsive" >
                    <table class="table" >
              <thead class=" text-primary ">
                        <th>
                         Id_Achats
                        </th>
                        <th>
                          Id_Article
                        </th>
                        <th>
                          Prix_Unitaire
                        </th>
                        <th>
                          Quantite
                        </th>


                      </thead>

                      </thead>
                    <tbody>
                      {% include 'Gestion_Achats/Achats/assos.html' %}
                      </tbody>
                    </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

