{% extends 'base.html' %}
{% load static%}



{% block content %}

   <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <br><br>
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Achats Table</h4>
                  <p class="card-category"> Here is Achats informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="book-table">
                        <div class="row">
                            <div class="col-2">
    <form action="{% url 'find' %}" method="GET" enctype="multipart/form-data">
         {% csrf_token %}

             <select name="da" id="da" class="form-control">
                 <option selected></option>
                        {% for obj in obj %}
                 <option  value="{{obj}}">{{obj.Id_Fournis}}</option>
                         {%endfor%}

             </select>
    </form>
</div>
       <div class="col-2">
   <button class="btn btn-primary"  data-url="{% url 'find' %}">find</button>
    </div>
                        </div>
             <thead class=" text-primary">
                        <th>
                         Id_Fournis
                        </th>
                        <th>
                          Montant_HT
                        </th>
                        <th>
                          Montant_TVA
                        </th>
                        <th>
                          Montant_TTC
                        </th>


                      </thead>
                      <tbody>
                    {% include 'Gestion_Achats/Achats/partial_client_c.html' %}
                      </tbody>
                        <div class="modal fade" id="modal-book">
                    <div class="modal-dialog" style=" left: 10%">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">

      </footer>
    </div>
  </div>

{% endblock %}

