{% extends 'base.html'%}

{% block content %}
<br><br><br><br><br>

       <div class="row">
                <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12"  style="width : 950px; left: 3%; ">
                 <div><a  class="btn btn-warning" href="javascript:history.back(1)">back</a> </div>
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Step 2</h4>
                  <p class="card-category"> Here is Achats informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive" >
                    <table class="table">

{% for dict in formset.errors|slice:":1" %}
    {% for error in dict.values %}
                                    <div class="alert alert-danger">
                <strong>   {{ error|first }}</strong>
            </div>

    {% endfor %}
{% endfor %}


             <thead class=" text-primary"  >
                        <th>
                         Achats
                        </th>
                        <th>
                          Article
                        </th>
                        <th>
                          Prix Unitaire
                        </th>
                        <th>
                          Quantite
                        </th>
                           <th>
                          Delete
                        </th>



                      </thead>

                      </thead>
                    <tbody>
                      {% include 'assos_html.html' %}
                      </tbody>
                    </table>


                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                </div>
                    </div>


{% endblock%}