{% extends 'base.html'%}
<!--{% load widget_tweaks %}-->
{% load crispy_forms_tags %}
{% block content %}

 <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
                  <div><a  class="btn btn-warning" href="javascript:history.forward(1)">Next</a> </div>
                <br><br>
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Add Achats</h4>
                </div>

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
                        <br><br><br><br><br>
<form method="POST">
    {% csrf_token %}
   <div class="form-row">
      <div class="form-group col-md-6 mb-0">
          <label class="bmd-label-floating" for="form.id_for_label">Date</label>
           {% render_field form.Date class="form-control" %}
      </div>
          <div class="form-group col-md-6 mb-0">
        <label  class="bmd-label-floating" for="form.id_for_label">Montant_TTC &nbsp;</label>
            {% render_field form.Montant_TTC class="form-control" %}
      </div>
   </div>
      <div class="form-row">
      <div class="form-group col-md-6 mb-0">
          <label class="bmd-label-floating" for="form.id_for_label">Montant_HT</label>
           {% render_field form.Montant_HT class="form-control" %}
      </div>
          <div class="form-group col-md-6 mb-0">
        <label  class="bmd-label-floating" for="form.id_for_label">Montant_TVA &nbsp;</label>
            {% render_field form.Montant_TVA class="form-control" %}
      </div>
   </div>
            <div class="form-group col-md-6 mb-0">
        <label  class="bmd-label-floating" for="form.id_for_label">Id_Fournis &nbsp;</label>
            {% render_field form.Id_Fournis class="form-control" %}
      </div>


    <input class="btn btn-primary" type="submit" value="Submit" />
</form>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
 </div>

{% endblock%}