  {% for obj in p %}

                        <tr>
                          <td>
                            {{obj.Date}}
                          </td>
                          <td>
                           {{obj.mode_de_payement}}
                          </td>
                          <td>
                           {{obj.reference}}
                          </td>
                              <td>
                            {{obj.Montant_HT}}
                          </td>
                               <td>
                            {{obj.Montant_TVA}}
                          </td>
                               <td>
                            {{obj.Montant_TTC}}
                          </td>
                          <td>
                            {{obj.Numero_facture}}
                          </td>
                          <td>
                            {{obj.Numero_payement}}
                          </td>
                              <td>
                            {{obj.E_S}}
                          </td>
                            <td>

            <a class="  likes-button js-update-book "   data-url="{% url 'payement_update' obj.id %}" href="#" style="color : #9c27b0;" >
            <i class="fa fa-edit w3-xxlarge" aria-hidden="true"></i></a>
&nbsp



                            </td>

                        </tr>
                      {% endfor%}