<!--{% load widget_tweaks %}-->

{% load crispy_forms_tags %}

{% block content %}
   <div class="col-md-4" style="margin-left : auto;margin-right:auto;">
                          <label for="">TVA%</label>
                        <input   class="form-control" type="text" name="tv">
                            </div>
    <br><br>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
          <label class="" for="form.id_for_label">Date</label>
           {% render_field form.Date class="form-control" %}
      </div>
        <div class="form-group col-md-6 mb-0">
            <label  class="bmd-label-floating" for="form.id_for_label">E_S</label>
           {% render_field form.E_S class="form-control" %}
      </div>
      </div>


       <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        <label class="bmd-label-floating" for="form.id_for_label">reference</label>
           {% render_field form.reference class="form-control" %}
      </div>
      <div class="form-group col-md-6 mb-0">
        <label  class="bmd-label-floating" for="form.id_for_label">Montant_HT</label>
           {% render_field form.Montant_HT class="form-control" %}
      </div>
    </div>
     <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        <label class="bmd-label-floating" for="form.id_for_label">Montant_TVA</label>
           {% render_field form.Montant_TVA class="form-control" %}
      </div>
      <div class="form-group col-md-6 mb-0">
        <label  class="bmd-label-floating" for="form.id_for_label">Montant_TTC</label>
           {% render_field form.Montant_TTC class="form-control" %}
      </div>
    </div>
     <div class="form-row">

      <div class="form-group col-md-6 mb-0">
        <label  class="bmd-label-floating" for="form.id_for_label">Numero_facture</label>
           {% render_field form.Numero_facture class="form-control" %}
      </div>
              <div class="form-group col-md-6 mb-0">
       <label  class="bmd-label-floating" for="form.id_for_label">Numero_payement</label>
           {% render_field form.Numero_payement class="form-control" %}
      </div>
              <div class="form-group col-md-6 mb-0">
            <label  class="bmd-label-floating" for="{{field.id_for_label}}">mode_de_payement</label>
            {% render_field form.mode_de_payement class="form-control" %}
      </div>
    </div>

<!--{% if contact_form.errors %}-->
<!--    {% for field in contact_form %}-->
<!--        {% for error in field.errors %}-->
<!--            <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">-->
<!--                  <p> {{ error }} </p>-->
<!--            </div>-->

<!--        {% endfor %}-->
<!--    {% endfor %}-->
<!--{% endif %}-->
<!--  {% for error in contact_form.errors %}-->
<!--      <p class="help-block">{{ error }}</p>-->
<!--    {% endfor %}-->

<!--    <div class="alert alert-danger">{{contact_form.errors }}</div>-->

{% endblock %}