{% load dat_tag %}
{% load my_tag%}



                        <tr>

                          <td>
<!--                           <div class="alert alert-danger">-->
            <strong> Nothing Found ....!.</strong>
<!--        </div>-->
                          </td>
                            <td>

                          </td>
                          <td>

                          </td>

                          <td>

                          </td>
                                 <td>
                          </td>
                              <td>

                          </td>
                               <td>
                          </td>
                               <td>
                          </td>
                          <td>

                          </td>
                            <td>



                        </tr>
