{% extends 'base.html'%}
{% load widget_tweaks %}

{% block content %}

 <div class="content" style="margin-left : 15px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
                <br><br>
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Add Facture </h4>
                </div>

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
                        {% if errors %}
                         <div class="alert alert-danger">
            <strong>{{ errors|escape }}</strong>
        </div>
                        {% endif %}
                        <br><br><br><br><br>
<form method="POST" >
    {% csrf_token %}



    <div class="left">



      <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        <label class="bmd-label-floating" for="form.id_for_label">Montant_HT</label>
           {% render_field form.Montant_HT class="form-control" %}
      </div>
       <div class="form-group col-md-6 mb-0" id="label1">
        <label  class="bmd-label-floating" for="form.id_for_label">Montant_TVA</label>
            {% render_field form.Montant_TVA class="form-control" %}
      </div>
      </div>
           <div class="form-row " >
                     <div class="form-group col-md-6 mb-0">
                            <label class="bmd-label-floating" for="form.id_for_label">Titre_facture</label>
           {% render_field form.Titre_facture class="form-control" %}
      </div>
                       <div class="form-group col-md-6 mb-0" id="label">
            <label  class="bmd-label-floating" for="{{field.id_for_label}}">Montant_TTC</label>
            {% render_field form.Montant_TTC class="form-control" %}
      </div>


    </div>

          <div class="form-row" >
      <div class="form-group col-md-6 mb-0 is-filled is-focused">
        <label class="" for="form.id_for_label">Date</label>
           {% render_field form.Date class="form-control" %}
      </div>



                     <div class="form-group col-md-6 mb-0 is-filled is-focused">
        <label  class="" for="form.id_for_label">Date limite payement </label>
            {% render_field form.Date_limite_payement class="form-control" %}
      </div>




                  </div>
        <div class="form-group col-md-6 mb-0">
        <label  class="bmd-label-floating" for="form.id_for_label">commande </label>
            {% render_field form.commande class="form-control" %}
      </div>


    </div>





    <input   class="btn btn-primary" type="submit" value="Submit" />
    </div>
</form>

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
 </div>

{% endblock%}