{% extends 'base.html' %}
{% load static %}
{% block javascript %}
  <script src="{% static 'js/create_facture.js' %}"></script>
<script>
const user_input = $("#user-input")
const search_icon = $('#search-icon')
const artists_div = $('#replaceable-content')
const endpoint = '/commande/search'
const delay_by_in_ms = 700
let scheduled_function = false

let ajax_call = function (endpoint, request_parameters) {
    $.getJSON(endpoint, request_parameters)
        .done(response => {
            // fade out the artists_div, then:
            artists_div.fadeTo('slow', 0).promise().then(() => {
                // replace the HTML contents
                artists_div.html(response['html_from_view'])
                // fade-in the div with new contents
                artists_div.fadeTo('slow', 1)
                // stop animating search icon
                search_icon.removeClass('blink')
            })
        })
}


user_input.on('keyup', function () {

    const request_parameters = {
        q: $(this).val() // value of user_input: the HTML element with ID user-input
    }

    // start animating the search icon with the CSS class
    search_icon.addClass('blink')

    // if scheduled_function is NOT false, cancel the execution of the function
    if (scheduled_function) {
        clearTimeout(scheduled_function)
    }

    // setTimeout returns the ID of the function to be executed
    scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
})

</script>
{% endblock %}

  <div class="content"  id="content">
{% block content%}
      <br><br><br>
                <div class=" nadjib container change"  id="changee" style="margin-right : 100%; color : #9c27b0;" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

        <div class="container-fluid" >
          <div class="row" >
            <div class="col-md-12" >
                  <div class="col-md-12" id="col2" >
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Facture Table</h4>
                  <p class="card-category"> Here is Facture informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="book-table">

                    <p><strong> MH Global:{{mhtg}}DA , &nbsp; MH Payed Global :{{mhtg_p}}DA , &nbsp; MH Global Not Payed : {{mhtg_np}} DA</strong></p>

                      <thead class=" text-primary">
                       <th>
                         Date
                        </th>
                        <th>
                         commande
                        </th>
                        <th>
                         Titre facture
                        </th>
                         <th>
                         Numero facture
                        </th>
                        <th>
                         M  HT
                        </th>
                        <th>
                          M TVA
                        </th>
                        <th>
                          M TTC
                        </th>
                          <th>
                         Etat
                        </th>
                          <th>
                         Actions
                        </th>
                      </thead>
                      <tbody id="replaceable-content">
                    {% include 'Proformas/facture/partial/partial_facture.html' %}
                      </tbody>
                        <div class="modal fade" id="modal-book">
                    <div class="modal-dialog" style=" left: 10%">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>
        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <footer class="footer">

      </footer>
    </div>
  </div>

{% endblock%}

