{% extends 'base.html' %}
{% load static %}
{% block javascript %}
  <script src="{% static 'js/create_facture.js' %}"></script>
{% endblock %}


{% block content%}


      <div class="content"  id="content">
<!--                 <label class="switch">-->
<!--  <input class="nadjib btn-primary" type="checkbox">-->
<!--  <span class="slider round"></span>-->
<!--</label>-->
          <div class=" nadjib container change"  id="changee" style="margin-right : 100%; color : #9c27b0;" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <br><br>
                  <div class="col-md-12" id="col2" >
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Facture Table</h4>
                  <p class="card-category"> Here is Facture informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="book-table">

                    <p><strong> MH Global:{{mhtg}}DA , &nbsp; MH Payed Global :{{mhtg_p}}DA , &nbsp; MH Global Not Payed : {{mhtg_np}} DA</strong></p>

                      <thead class=" text-primary">
                       <th>
                         Date
                        </th>
                        <th>
                         commande
                        </th>
                        <th>
                         Titre facture
                        </th>
                         <th>
                         Numero facture
                        </th>
                        <th>
                         M  HT
                        </th>
                        <th>
                          M TVA
                        </th>
                        <th>
                          M TTC
                        </th>
                          <th>
                         Etat
                        </th>
                          <th>
                         Actions
                        </th>
                      </thead>
                      <tbody>
                    {% include 'Proformas/facture/partial/partial_facture.html' %}
                      </tbody>
                        <div class="modal fade" id="modal-book">
                    <div class="modal-dialog" style=" left: 10%">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>
        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <footer class="footer">

      </footer>
    </div>
  </div>

{% endblock%}

