{% extends 'base.html' %}
{% load static%}

{% block javascript %}
  <script src="{% static 'js/create_client.js' %}"></script>
{% endblock %}


{% block content%}


      <div class="content"  id="content">
                 <label class="switch">
  <input class="nadjib btn-primary" type="checkbox">
  <span class="slider round"></span>
</label>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <br><br>
                  <div class="col-md-12" id="col2" >
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Client Table</h4>
                  <p class="card-category"> Here is clients informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="book-table">

                      <thead class=" text-primary">
                       <th>
                         Fournisseur
                        </th>
                        <th>
                          Date
                        </th>
                        <th>
                          mode_de_payement
                        </th>
                        <th>
                          reference
                        </th>
                        <th>
                          MontantHT
                        </th>
                          <th>
                          MontantTVA
                        </th>
                          <th>
                          Montant_TTC
                        </th>
                          <th>
                          Numero_facture
                        </th>
                          <th>
                          Numero_payement
                        </th>
                        <th>
                          ES
                        </th>
                      <th>
                          Action
                      </th>

                      </thead>
                      <tbody>
                    {% include 'Gestion_Achats/payement/partial/partial_payement.html' %}
                      </tbody>
                        <div class="modal fade" id="modal-book">
                    <div class="modal-dialog" style=" left: 10%">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>
        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <footer class="footer">

      </footer>
    </div>
  </div>
<
{% endblock%}

