{% extends 'base.html' %}
{% load static%}

{% block javascript %}
  <script src="{% static 'js/create_payments.js' %}"></script>
{% endblock %}
<div class="content" >

{% block content%}
     <br><br><br>

<!--        <div class=" nadjib container change"  id="changee" style="margin-right : 100%; color : #9c27b0;" onclick="myFunction(this)">-->
<!--  <div class="bar1"></div>-->
<!--  <div class="bar2"></div>-->
<!--  <div class="bar3"></div>-->
<!--</div>-->
     <div class="container">

        <div class="container-fluid"   id="content">
          <div class="row">
                  <div class="" id="col2" style="width : 1080px;" >

              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Payments Table</h4>
                  <p class="card-category"> Here is Payments informations</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="book-table">
        <p><strong> MH Vente : {{total_v}} DA, &nbsp; MH Dépance : {{total_d}} DA, &nbsp; Différence : {{diff}} DA</strong></p>


                      <thead class=" text-primary">
                       <th>
                         Fournisseur
                        </th>
                        <th>
                          Date
                        </th>
                        <th>
                          mode payement
                        </th>
                        <th>
                          reference
                        </th>
                        <th>
                          MontantHT
                        </th>
                          <th>
                          M TVA
                        </th>
                          <th>
                          M TTC
                        </th>
                          <th>
                          Numero facture
                        </th>
                          <th>
                          Numero payement
                        </th>
                        <th>
                          ES
                        </th>
                      <th>
                          Action
                      </th>

                      </thead>
                      <tbody>
                    {% include 'Gestion_Achats/payement/partial/partial_payement.html' %}
                      </tbody>
                        <div class="modal fade" id="modal-book" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog" style="">
                   <div class="modal-content"  >
                  </div>
                     </div>
                        </div>
                    </table>
        </div>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
      <footer class="footer">

      </footer>
    </div>


{% endblock%}

