  {% for obj in contact %}

                        <tr>
                          <td>
                            {{obj.Nom}}
                          </td>
                          <td>
                           {{obj.post}}
                          </td>
                          <td>
                           {{obj.Tel}}
                          </td>
                              <td>
                            {{obj.contact_type}}
                          </td>
                               <td>
                            {{obj.email}}
                          </td>
                                  <td>
                            {{obj.Fournis}}
                          </td>
                            <td>

       <a class="bout likes-button js-update-book"   data-url="{% url 'Fournus_update_contact' obj.id %}" style="color : #9c27b0;" >
            <i class="fa fa-edit w3-xxlarge" aria-hidden="true"></i></a>
&nbsp
                                <a class=" bout js-delete-book " data-url="{% url 'Fournis_contact_delete' obj.id %}"  style="color : #9c27b0;">
        <i class="fa fa-trash w3-xxlarge" aria-hidden="true"></i></a>


                            </td>
                            </td>

                        </tr>

                      {% endfor%}